{% extends 'EtheriqBlogBundle::base.html.twig' %}

    {% block title %}
        Article detail
    {% endblock title %}

     {% block wraper %}

         {% block breadcrumb %}

             {{ wo_render_breadcrumbs() }}

         {% endblock breadcrumb %}

         <div class="row">
             <div class="col-md-10">
                <div class="article-header">
                    <div class="row">
                        <div class="col-md-6">
                           <span class="text-left showArticleTitle"> {{ article.title }} </span>
                            <div class="text-left">
                                {% if is_granted('EDIT', article) %}
                                    {{ form(edit_form) }}
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-md-6 text-right">
                            <strong> {{ 'Category'|trans }} </strong>
                            <span class="label label-primary">
                                {{ article.category.categoryName }}
                              </span>
                            &nbsp;
                            <strong> {{ 'Tags'|trans }} </strong>
                            {% for tag in article.tags %}
                                <label class="tagsInShow">
                                    <span class="label label-info"> {{ tag.tagName }} </span>
                                </label>
                            {% endfor %}
                        </div>
                    </div>

                </div>
                <div class="row">
                 <div class="article-body">

                     <img src="{{ article.pathImage | imagine_filter('blog_show') }}" class="img-thumbnail">

                     {{ article.textBlog }}
                 </div>
                </div>

                 <div class="article-footer">
                     <div class="row">
                         <div class="col-md-6 text-left">
                             <strong>{{ 'Rating'|trans }}</strong>
                             <span class="badge">{{ article.rating|rating(article.numberOfVoters) }}</span>
                         </div>
                         <div class="col-md-6 text-right">
                             <span>{{ 'Published'|trans }} {{ article.created|date("d.m.Y") }}</span>
                         </div>
                     </div>
                 </div>


             </div>
         </div>
        <br><br>
         <div class="row">
            <div class="col-md-6">
            {{ form_start(comment_form, {'attr': {'role': 'form', 'novalidate': 'novalidate'  } } ) }}
                <div class="form-group">
                    {{ form_label(comment_form.textComment, 'enter_comment'|trans) }}
                    {{ form_widget(comment_form.textComment, { 'attr': {'class': 'form-control', 'placeholder': 'Comment' } }) }}
                </div>
                <div class="form-group text-right">
                    <input type="submit" name="sendComment" value="send" class="btn btn-default">
                </div>
                {% if form_errors(comment_form.textComment) %}
                    <br>
                    <div class="alert alert-danger">
                        {{ form_errors(comment_form.textComment) }}
                    </div>
                {% endif %}
            {{ form_end(comment_form) }}
            </div>
         </div>

         {% if getCountComments(article) > 0  %}
             <div class="panel panel-info">
                 <div class="panel-heading">
                     <strong>{{ 'comments_list'|trans }}</strong>
                 </div>
                 {% for comment in article.comments %}
                    <div class="panel panel-default" style="margin: 15px;">
                        <div class="panel-heading">
                            #{{ loop.index }}:
                            <span> <strong>{{ 'Author'|trans }} </strong>
                                {% if comment.author is null %}
                                    Fixture loader
                                {% else %}
                                    {{ comment.author  }}
                                {% endif %}
                            </span>
                            <span class="pull-right"> <strong>{{ 'Published'|trans }} </strong>
                                {{ comment.created|date('d.m.Y') }}
                            </span>
                        </div>
                        <div class="panel-body">
                                {{ comment.textComment|trim }}
                        </div>
                        {% if is_granted('EDIT', comment ) %}
                            <div class="panel-footer">
                                <a href="{{ path('comment_edit', {'id': comment.id, 'slug': article.slug}) }}" class="btn btn-sm btn-warning">
                                    {{ 'Save'|trans }}
                                </a>

                                <a href="{{ path('comment_delete', {'id': comment.id, 'slug': article.slug}) }}" class="btn btn-sm btn-danger pull-right">
                                    {{ 'Delete'|trans }}
                                </a>
                            </div>
                        {% endif %}
                    </div>
                    <hr>
                 {% endfor %}
             </div>
        {% endif %}

     {% endblock wraper %}
