{% extends 'EtheriqBlogBundle::base.html.twig' %}

    {% block title %}
        Article detail
    {% endblock title %}

     {% block wraper %}

         {% block breadcrumb %}

             {{ wo_render_breadcrumbs() }}

         {% endblock breadcrumb %}


         {{ form_start(form, {'attr': {'role': 'form', 'novalidate': 'novalidate' }}) }}

                {{ form_label(form.title, 'blog_title'|trans|raw) }}
                {{ form_widget(form.title, { 'attr': {'class': 'form-control width80', 'placeholder': 'Введите название статьи' } }) }}
                <br>
                {{ form_label(form.tags, 'Blog tags'|trans|raw) }}
                {{ form_widget(form.tags, { 'attr': {'class': 'width80'} }) }}
                {{ form_widget(form.rating) }}
                <br>
                <span><strong>{{ 'add_new_tags'|trans }}</strong> </span> <img src="{{ asset('img/blog/plus.png') }}" alt="plus"  id="show-input-tags"/>
                <div class="hidden-category" id="input-tags">
                    {{ form_label(form.newTags, 'new_tag_name'|trans|raw) }}
                    {{ form_widget(form.newTags, { 'attr': {'class': 'form-control width80', 'placeholder': 'Введите новые теги через запятую', 'value': ''} }) }}
                </div>


                <br>
                {{ form_label(form.textBlog, 'text_article'|trans|raw) }}
                {{ form_widget(form.textBlog, { 'attr': {'class': 'form-control width80 height350', 'placeholder': 'Введите сообщение, минимальная длина 50 символом ' } }) }}

                <br>

                <p><strong>{{ 'category_article'|trans }}</strong></p>
                {{ form_widget(form.category, { 'attr': {'class': 'form-control width80'} }) }}

                 <br>
                 <span><strong>{{ 'add_new_category'|trans }}</strong> </span> <img src="{{ asset('img/blog/plus.png') }}" alt="plus"  id="show-input-category"/>
                 <div class="hidden-category" id="input-category">
                     {{ form_label(form.newCategory, 'new_category_name'|trans|raw) }}
                     {{ form_widget(form.newCategory, { 'attr': {'class': 'form-control width80', 'placeholder': 'Введите новые категории через запятую', 'value': ''} }) }}
                 </div>

                 <br>
                 <p><strong>{{ 'rating_article'|trans }}</strong> <span class="badge">{{ rating|rating(voters) }}</span></p>
                 <div  id = "rates">
                 <ul>
                     <li class="defaultRating"></li>
                     <li class="defaultRating"></li>
                     <li class="defaultRating"></li>
                     <li class="defaultRating"></li>
                     <li class="defaultRating"></li>
                 </ul>
                </div>

                <br><br>
                {{ form_widget(form.save, { 'attr': {'class': 'btn btn-success'} }) }}



                <p>{{ form_errors(form.title) }}</p>
                <p>{{ form_errors(form.textBlog) }}</p>
                <p>{{ form_errors(form) }}</p>

         {{ form_end(form) }}

         {{ form(delete_form) }}

     {% endblock wraper %}

{% block myjs %}
    <script>
    jQuery(function($){
        $('#show-input-category').on('click', function(){
            $('#input-category').removeClass('hidden-category').addClass('visible-category');
        });

        $('#show-input-tags').on('click', function(){
            $('#input-tags').removeClass('hidden-category').addClass('visible-category');
        });
    });
    </script>
{% endblock %}
