{% extends 'EtheriqBlogBundle::base.html.twig' %}

    {% block title %}
        Home page
    {% endblock title %}

     {% block wraper %}
<div class="row">
         <div class="col-md-10">
             {% block breadcrumb %}

                 <ol class="breadcrumb">
                     <li class="active">{{ 'Home'|trans }}</li>
                 </ol>

             {% endblock breadcrumb %}
         </div>
         <div class="col-md-2">
             <ul class="locale_change">
                 <li>
                     <a href="{{ path('set_locale', {'loc': 'en'}) }}">
                         <img src="{{ asset('img/flag_great_britain.png') }}" alt="English">
                     </a>
                 </li>
                 <li>
                     <a href="{{ path('set_locale', {'loc': 'ru'}) }}">
                         <img src="{{ asset('img/flag_russia.png') }}" alt="Russian">
                     </a>
                 </li>
                 <li>
                     <a href="{{ path('set_locale', {'loc': 'uk'}) }}">
                         <img src="{{ asset('img/flag_ukraine.png') }}" alt="Ukrainian">
                     </a>
                 </li>
             </ul>
         </div>
</div>
     <div class="row">
         <div class="col-md-8">
             {% block content %}

                {% for blog in blogs %}
                   <div class="article-header">
                    {{ blog.title }}
                   </div>
                    <div class="article-body">
                        {#<img src="{{ asset(blog.picture) | imagine_filter('blog_main') }}" class="img-rounded">#}
                        <img src="{{ asset(blog.picture) }}" class="img-thumbnail">
                        {{ blog.textBlog|limitWords(70, path('blog_showInfo', {'slug': blog.slug}))|raw }}
                    </div>

                    <div class="article-footer">
                       <div class="text-left myCat">
                           <strong>Category: </strong>
                           {{ blog.category.categoryName }}
                       </div>

                        <div class="myRating">
                            <strong>Rating:</strong>
                            {{ blog.rating }}
                        </div>

                        <div class="text-right myTags">
                            <strong>Tags: </strong>
                           {% for tag in blog.tags %}
                               <span class="label label-info">{{ tag.tagName }}</span>
                           {% endfor %}
                        </div>
                    </div>

                   {% endfor %}

             {% endblock content %}
         </div>

         <div class="col-md-4">
             {% block sidebar %}
                 <div class="panel panel-default">
                     <div class="panel-heading">
                         <h3 class="panel-title">Last articles</h3>
                     </div>
                     <div class="panel-body">
                         {{ render(controller('EtheriqBlogBundle:Main:showLastArticles')) }}
                     </div>
                 </div>

                 <div class="panel panel-default">
                     <div class="panel-heading">
                         <h3 class="panel-title">Articles by rating</h3>
                     </div>
                     <div class="panel-body">
                         {{ render(controller('EtheriqBlogBundle:Main:showArticlesByRating')) }}
                     </div>
                 </div>


                 <div class="panel panel-default">
                     <div class="panel-heading">
                         <h3 class="panel-title">Last post from guest</h3>
                     </div>
                     <div class="panel-body">
                         {{ render(controller('EtheriqBlogBundle:Main:showLastGuest')) }}
                     </div>
                 </div>


             {% endblock sidebar %}
         </div>
     </div>


     {% endblock wraper %}

         {% block footer %}
             {{ pagerfanta(blogs, 'myFantaSet') }}
         {% endblock footer %}