{% extends 'EtheriqBlogBundle::base.html.twig' %}

    {% block title %}
        Home page
    {% endblock title %}

     {% block wraper %}

         <div class="col-md-10">
             {% block breadcrumb %}

                 <p>BreadCrumb</p>

             {% endblock breadcrumb %}
         </div>
         <div class="col-md-2">
             <ul class="locale_change">
                 <li>
                     <a href="{{ path('set_locale', {'loc': 'en'}) }}">
                         <img src="{{ asset('img/flag_great_britain.png') }}" alt="English">
                     </a>
                 </li>
                 <li>
                     <a href="{{ path('set_locale', {'loc': 'ru'}) }}">
                         <img src="{{ asset('img/flag_russia.png') }}" alt="Russian">
                     </a>
                 </li>
                 <li>
                     <a href="{{ path('set_locale', {'loc': 'uk'}) }}">
                         <img src="{{ asset('img/flag_ukraine.png') }}" alt="Ukrainian">
                     </a>
                 </li>
             </ul>
         </div>

         <div class="row">
         <div class="col-md-8">
             {% block content %}
                 <p>

                     Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce neque lacus, placerat id risus at, sollicitudin bibendum dui. Proin adipiscing vitae eros at cursus. Suspendisse lacinia malesuada scelerisque. Nulla facilisi. Ut vehicula quam sed consequat pretium. Maecenas blandit magna in tortor vulputate sollicitudin. Donec pulvinar fringilla diam, sed rutrum arcu iaculis pretium. Sed adipiscing metus sed libero tempus, blandit feugiat erat semper. Proin fermentum accumsan posuere. Nulla vel porta lorem. Etiam molestie augue sed diam bibendum suscipit. Aliquam tellus dolor, fermentum et aliquam non, dictum sed sapien. Duis porta purus vel lacus sodales blandit. Proin eleifend quis justo at accumsan.
                     Sed at nisi libero. Suspendisse a mattis lectus. Cras nec pharetra purus, sit amet venenatis libero. Donec et imperdiet arcu, ac iaculis neque. Nunc tincidunt lacus eu fringilla pretium. Fusce non ultricies nibh, ut tempor felis. Vestibulum luctus auctor eros, varius faucibus ante sagittis ultrices. Proin hendrerit nunc in feugiat feugiat. Suspendisse non malesuada metus, non elementum urna.

                     Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce neque lacus, placerat id risus at, sollicitudin bibendum dui. Proin adipiscing vitae eros at cursus. Suspendisse lacinia malesuada scelerisque. Nulla facilisi. Ut vehicula quam sed consequat pretium. Maecenas blandit magna in tortor vulputate sollicitudin. Donec pulvinar fringilla diam, sed rutrum arcu iaculis pretium. Sed adipiscing metus sed libero tempus, blandit feugiat erat semper. Proin fermentum accumsan posuere. Nulla vel porta lorem. Etiam molestie augue sed diam bibendum suscipit. Aliquam tellus dolor, fermentum et aliquam non, dictum sed sapien. Duis porta purus vel lacus sodales blandit. Proin eleifend quis justo at accumsan.
                     Sed at nisi libero. Suspendisse a mattis lectus. Cras nec pharetra purus, sit amet venenatis libero. Donec et imperdiet arcu, ac iaculis neque. Nunc tincidunt lacus eu fringilla pretium. Fusce non ultricies nibh, ut tempor felis. Vestibulum luctus auctor eros, varius faucibus ante sagittis ultrices. Proin hendrerit nunc in feugiat feugiat. Suspendisse non malesuada metus, non elementum urna.

                     Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce neque lacus, placerat id risus at, sollicitudin bibendum dui. Proin adipiscing vitae eros at cursus. Suspendisse lacinia malesuada scelerisque. Nulla facilisi. Ut vehicula quam sed consequat pretium. Maecenas blandit magna in tortor vulputate sollicitudin. Donec pulvinar fringilla diam, sed rutrum arcu iaculis pretium. Sed adipiscing metus sed libero tempus, blandit feugiat erat semper. Proin fermentum accumsan posuere. Nulla vel porta lorem. Etiam molestie augue sed diam bibendum suscipit. Aliquam tellus dolor, fermentum et aliquam non, dictum sed sapien. Duis porta purus vel lacus sodales blandit. Proin eleifend quis justo at accumsan.
                     Sed at nisi libero. Suspendisse a mattis lectus. Cras nec pharetra purus, sit amet venenatis libero. Donec et imperdiet arcu, ac iaculis neque. Nunc tincidunt lacus eu fringilla pretium. Fusce non ultricies nibh, ut tempor felis. Vestibulum luctus auctor eros, varius faucibus ante sagittis ultrices. Proin hendrerit nunc in feugiat feugiat. Suspendisse non malesuada metus, non elementum urna.
                 </p>
             {% endblock content %}
         </div>

         <div class="col-md-4">
             {% block sidebar %}
                 <div class="panel panel-default">
                     <div class="panel-heading">
                         <h3 class="panel-title">Lost articles</h3>
                     </div>
                     <div class="panel-body">
                         5 lost articles
                     </div>
                 </div>

                 <div class="panel panel-default">
                     <div class="panel-heading">
                         <h3 class="panel-title">Last post from guest</h3>
                     </div>
                     <div class="panel-body">
                         post from guest
                     </div>
                 </div>


             {% endblock sidebar %}
         </div>
         </div>







     {% endblock wraper %}

         {% block footer %}
                     <p> footer home</p>
         {% endblock footer %}








